#########
# conda #
#########
# -c conda-forge/label/gcc7 z5py
# -c conda-forge pytables

#######
# pip #
#######
numpy
h5py
pandas
tables
networkx
scipy
smalldataviewer
matplotlib
catpy>=0.3
coordinates
git+git://github.com/clbarnes/cremi_python.git@n5
ipython
bootstrapped
psycopg2
scikit-image
lmfit
enum34-custom
